<section>
  <div class="about-banner ">

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1"
        d="M0,224L48,202.7C96,181,192,139,288,117.3C384,96,480,96,576,128C672,160,768,224,864,229.3C960,235,1056,181,1152,170.7C1248,160,1344,192,1392,208L1440,224L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
      </path>
    </svg>

  </div>
</section>
<section>
  <div class="container py-5">
    <h1 class="pb-4 text-center">About Us</h1>
    <p style="line-height: 37px;" class="text-center mx-5">Gomatters is a tourism company that provides Medical Tourism
      services to the patient, who
      intends
      to go to India for
      treatment purposes. Furthermore We will be providing services for the students who want to study
      abroad. More than that we consult about your problems and comes up with the best solution. We have been
      very successful in achieving the trust and reliance of our esteemed clients. Our
      commitment is to offer only quality services.</p>
  </div>
</section>
<section class="how-it-works">
  <h1 class="text-center">How It Works</h1>
  <div class="container d-flex justify-content-between flex-md-row flex-column py-5 gap-4 text-center">
    <div>
      <a href=""><i class="fas fa-solid fa-phone"></i></a>
      <h4>Contact</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, earum. A temporibus nulla eveniet aut.
      </p>
    </div>
    <div>
      <a style="padding: 12px 24px;" href=""><i class="fas fa-solid fa-handshake"></i></a>
      <h4>Get Appointment</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, earum. A temporibus nulla eveniet aut.
      </p>
    </div>
    <div>
      <a style="padding: 12px 26px;" href=""><i class="fas fa-solid fa-address-card"></i></a>
      <h4>Register Service</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, earum. A temporibus nulla eveniet aut.
      </p>
    </div>
    <div>
      <a href=""><i class="fa fa-globe" aria-hidden="true"></i></a>
      <h4>Enjoy Service</h4>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur, earum. A temporibus nulla eveniet aut.
      </p>
    </div>

  </div>
</section>
