<!-- loader  -->

<!-- end loader -->
<!-- header -->
<header>
  <!-- header inner -->
  <div class="header">
    <!-- <div class="header_white_section">
              <div class="container-fluid">
                 <div class="row">
                    <div class="col-md-12">
                       <div class="header_information">
                          <ul>
                             <li><img src="../../../../../assets/images/1.png" alt="#"/> 145.street road new York</li>
                             <li><img src="../../../../../assets/images/2.png" alt="#"/> +71  5678954378</li>
                             <li><img src="../../../../../assets/images/3.png" alt="#"/> Demo@hmail.com</li>
                          </ul>
                       </div>
                    </div>
                 </div>
              </div>
           </div> -->
    <!-- <div class="container">
           <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                 <div class="full">
                    <div class="center-desk">
                       <div class="logo"> <a href="index.html"><img src="../../../../../assets/images/logo.png" alt="#"></a> </div>
                    </div>
                 </div>
              </div>
              <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                 <div class="menu-area">
                    <div class="limit-box">
                       <nav class="main-menu">
                          <ul class="menu-area-main">
                             <li class="active"> <a href="#">Home</a> </li>
                             <li> <a href="#about">About</a> </li>
                             <li><a href="#travel">Travel</a></li>
                             <li><a href="#blog">Blog</a></li>
                             <li><a href="#contact">Contact Us</a></li>
                          </ul>
                       </nav>
                    </div>
                 </div>
              </div>
           </div>
        </div> -->
    <nav class="navbar navbar-expand-lg navbar-light ">
      <div class="container-fluid">
        <a class="navbar-brand p-0 logo-container" href="#"><img class="logo"
            src="../../../../../assets/images/logo.png"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse me-5" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">

              <a class="nav-link active px-4" aria-current="page" href="#"><i
                  class="fa fa-solid fa-house-chimney-window"></i><span>Home</span></a>
            </li>
            <li class="nav-item">

              <a class="nav-link active px-4" aria-current="page" href="#"><i
                  class="fa fa-solid fa-house-chimney-window"></i><span>Explore</span></a>
            </li>
            <li class="nav-item">

              <a class="nav-link active px-4" aria-current="page" href="#"><i
                  class="fa fa-solid fa-house-chimney-window"></i><span>Services</span></a>
            </li>
            <li class="nav-item">

              <a class="nav-link active px-4" aria-current="page" href="#"><i
                  class="fa fa-solid fa-house-chimney-window"></i><span>Portfolio</span></a>
            </li>
            <li class="nav-item">

              <a class="nav-link active px-4" aria-current="page" href="#"><i
                  class="fa fa-solid fa-house-chimney-window"></i><span>About Us</span></a>
            </li>
            <li class="nav-item">

              <a class="nav-link active px-4" aria-current="page" href="#"><i
                  class="fa fa-solid fa-house-chimney-window"></i><span>Contact Us</span></a>
            </li>

          </ul>

        </div>
      </div>
    </nav>
  </div>
  <!-- end header inner -->
</header>
<!-- end header -->
<section>
  <div class="banner-main">
    <!-- <img src="../../../../../assets/images/banner.jpg" alt="#" /> -->
    <!-- Carousel Start -->
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="../../../../../assets/images/banner1.jpg" class="d-block w-100" alt="...">
          <!-- <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div> -->
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="../../../../../assets/images/banner2.jpg" class="d-block w-100" alt="...">
          <!-- <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div> -->
        </div>
        <div class="carousel-item">
          <img src="../../../../../assets/images/banner3.jpg" class="d-block w-100" alt="...">
          <!-- <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>Some representative placeholder content for the third slide.</p>
          </div> -->
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="arrow-wrapper"><span class="carousel-control-prev-icon" aria-hidden="true"></span></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="arrow-wrapper"><span class="carousel-control-next-icon" aria-hidden="true"></span></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!-- Carousel End -->
    <div class="container">
      <div class="text-bg">
        <div class="banner-text" data-aos="fade-up" data-aos-duration="700">
          <h1>Medical Tourism in India
          </h1>
          <p class="white">Find the Nearest Medical Facility</p>
        </div>
        <!-- <div class="button_section"> <a class="main_bt btn" href="#">Explore</a> </div> -->
        <!-- <div class="container">
                 <form class="main-form">
                    <h3>Find Your Tour</h3>
                    <div class="row">
                       <div class="col-md-9">
                          <div class="row">
                             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <label>Keywords</label>
                                <input class="form-control" placeholder="" type="text" name="">
                             </div>
                             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <label>Category</label>
                                <select class="form-control" name="Any">
                                   <option>Any</option>
                                   <option>Option 1</option>
                                   <option>Option 2</option>
                                   <option>Option 3</option>
                                </select>
                             </div>
                             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <label>Min Price</label>
                                <input class="form-control" placeholder="00.0" type="text" name="00.0">
                             </div>
                             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <label>Duration</label>
                                <input class="form-control" placeholder="Any" type="text" name="Any">
                             </div>
                             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <label>Date</label>
                                <input class="form-control" placeholder="Any" type="date" name="Any">
                             </div>
                             <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                <label>Max Price</label>
                                <input class="form-control" placeholder="00.0" type="text" name="00.0">
                             </div>
                          </div>
                       </div>
                       <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                          <a href="#">search</a>
                       </div>
                    </div>
                 </form>
              </div> -->
      </div>
    </div>
  </div>
</section>
<!-- about -->
<div id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="titlepage">
          <h2>About our travel agency</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="bg">
    <div class="container" data-aos="fade-up" data-aos-duration="700">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="about-box">
            <p> <span>There are many variations of passages of Lorem Ipsum
                available, but the majority have
                suffered alteration in some form, by injected humour, or randomised words which don't look
                even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be
                sure thereThere are many variations of passages of Lorem Ipsum available, but the majority
                have suffered alteration in some form, by injected humour, or randomised words which don't
                look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to
                be sure there</span></p>
            <!-- <div class="palne-img-area">
                       <img src="../../../../../assets/images/plane-img.png" alt="images">
                    </div> -->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- end about -->
<!-- traveling -->
<div id="travel" class="traveling">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="titlepage">
          <h2 data-aos="fade-left">Select Offers For Traveling</h2>
          <span>It is a long established fact that a reader will be distracted by the readable content of a page
            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters,</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="traveling-box">
          <i><img src="../../../../../assets/images/icon/travel-icon.png" alt="icon" /></i>
          <h3>Different Countrys</h3>
          <p> going to use a passage of Lorem Ipsum, you need to be </p>
          <div class="read-more">
            <a class="btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="traveling-box">
          <i><img src="../../../../../assets/images/icon/travel-icon2.png" alt="icon" /></i>
          <h3>Mountains Tours</h3>
          <p> going to use a passage of Lorem Ipsum, you need to be </p>
          <div class="read-more">
            <a class="btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="traveling-box">
          <i><img src="../../../../../assets/images/icon/travel-icon3.png" alt="icon" /></i>
          <h3>Bus Tours</h3>
          <p> going to use a passage of Lorem Ipsum, you need to be </p>
          <div class="read-more">
            <a class="btn" href="#">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
        <div class="traveling-box">
          <i><img src="../../../../../assets/images/icon/travel-icon4.png" alt="icon" /></i>
          <h3>Summer Rest</h3>
          <p> going to use a passage of Lorem Ipsum, you need to be </p>
          <div class="read-more">
            <a class="btn" href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end traveling -->
<!--London -->
<div class="London">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Weekend in New York, London</h2>
          <span>It is a long established fact that a reader will be distracted by the readable content of a page
            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters,</span>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="container-fluid">
    <div class="London-img">
      <figure><img src="../../../../../assets/images/London.jpg" alt="img" /></figure>
    </div>
  </div> -->
</div>
<!-- end London -->
<!--Tours -->
<div class="Tours">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>The Best Tours</h2>
          <span>It is a long established fact that a reader will be distracted by the readable content of a page
            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters,</span>
        </div>
      </div>
    </div>
    <section id="demos">
      <div class="row">
        <div class="col-md-12">
          <div class="owl-carousel owl-theme">

            <div class="item">
              <img class="img-responsive" src="../../../../../assets/images/2.jpg" alt="#" />
              <h3>New York</h3>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                suffered alteration in soe suffk even slightly believable. If y be sure there</p>
            </div>
            <div class="item">
              <img class="img-responsive" src="../../../../../assets/images/3.jpg" alt="#" />
              <h3>London</h3>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                suffered alteration in soe suffk even slightly believable. If y be sure there</p>
            </div>
            <div class="item">
              <img class="img-responsive" src="../../../../../assets/images/2.jpg" alt="#" />
              <h3>Holiday Tour</h3>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                suffered alteration in soe suffk even slightly believable. If y be sure there</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- end Tours -->
<!-- Amazing -->
<div class="amazing">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="amazing-box">
          <h2>Amazing London Tour</h2>
          <span>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
            alteration in some form, by injected humour, or randomised words which don't look even slightly
            believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there</span>
          <a href="#">Book Now</a><a href="#">Get More</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end Amazing -->
<!-- our blog -->
<div id="blog" class="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage">
          <h2>Our Blog</h2>
          <span>Lorem Ipsum is that it has a more-or-less normal distribution of letters,</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="blog-box">
          <figure><img src="../../../../../assets/images/blog-image0.jpg" alt="#" />

          </figure>
          <div class="travel">
            <span>Post By : Travel Agency</span>
            <p><strong class="Comment"> 06 </strong> Comment</p>
            <p><strong class="like">05 </strong>Like</p>
          </div>
          <h3>London Amazing Tour</h3>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page
            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content here', making it look like
            readable English. Many desktop publishing packages and web</p>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="blog-box">
          <figure><img src="../../../../../assets/images/blog-image.jpg" alt="#" />
            <!-- <span>10 Feb 2019</span> -->
          </figure>
          <div class="travel">
            <span>Post By : Travel Agency</span>
            <p><strong class="Comment"> 06 </strong> Comment</p>
            <p><strong class="like">05 </strong>Like</p>
          </div>
          <h3>London Amazing Tour</h3>
          <p>It is a long established fact that a reader will be distracted by the readable content of a page
            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content here', making it look like
            readable English. Many desktop publishing packages and web</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end our blog -->
<!-- footer -->
<footer>
  <div id="contact" class="footer">
    <div class="container">
      <div class="row pdn-top-30">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <ul class="location_icon">
            <li> <a href="#"><img src="../../../../../assets/images/icon/facebook.png"></a></li>
            <li> <a href="#"><img src="../../../../../assets/images/icon/Twitter.png"></a></li>
            <li> <a href="#"><img src="../../../../../assets/images/icon/linkedin.png"></a></li>
            <li> <a href="#"><img src="../../../../../assets/images/icon/instagram.png"></a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
          <div class="Follow">
            <h3>CONTACT US</h3>
            <span>123 Second Street Fifth <br>Avenue,<br>
              Manhattan, New York<br>
              +987 654 3210</span>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
          <div class="Follow">
            <h3>ADDITIONAL LINKS</h3>
            <ul class="link">
              <li> <a href="#">About us</a></li>
              <li> <a href="#">Terms and conditions</a></li>
              <li> <a href="#"> Privacy policy</a></li>
              <li> <a href="#">News</a></li>
              <li> <a href="#"> Contact us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
          <div class="Follow">
            <h3> Contact</h3>
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <input class="Newsletter" placeholder="Name" type="text">
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                <input class="Newsletter" placeholder="Email" type="text">
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <textarea class="textarea" placeholder="comment" type="text">Comment</textarea>
              </div>
            </div>
            <button class="Subscribe">Submit</button>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="container">
          <p>Copyright 2019 All Right Reserved By <a href="https://html.design/">Free html Templates</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
